# **Activity 1: Understanding and Exploring the Dataset (30 min)**

âœ… **Goal: Load and explore the dataset to understand its structure and contents.**

# Tasks: Load the dataset using Pandas.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# **Assignmen Dataframe to DF**

In [ ]:
df = pd.read_csv("melb_data.csv")

df = pd.read_csv("melb_data.csv")
#Try with wrong syntax that misses a quotation mark , it will give error,
df = pd.read_csv("melb_data.csv")

# **Overview of the data**

In [ ]:
print(df.head())  # Display first few rows

In [ ]:

print(df.info())  # Overview of dataset
print(df.describe())  # Summary statistics

**Student Challenge**
Print the first 5 values of 'Rooms' column

In [ ]:
#Instructor - To be run at the end
# Print the first 5 values of 'Rooms' column ,
#you can do it in two steps
# Print the First 10 Values of Rooms Column
#Print the first five rows where Type is h

# **Check for missing values in each column.**

In [ ]:
print(df.isna().sum()) # Rember we use .isna command for detecting NaN, Null Values (isna=is not a number)

**Identify categorical and numerical columns.**

In [ ]:
print(df.dtypes)

# **You have done the first set of activities Welldone**  :**Expected Learning Outcome: By now, the students should understand the structure of the dataset, recognize missing values, and differentiate between categorical and numerical data.**

## **Activity 2: Handling Missing Values (45 min)**

Goal: Learn different techniques to handle missing data in a dataset.

In [ ]:
#	Drop rows with missing values and observe the changes.
df_cleaned = df.dropna()
print(df_cleaned.info())

In [ ]:
# Fill missing numerical values with the column mean/median.
df["Column_Name"].fillna(df["Column_Name"].mean(), inplace=True)

#df.loc[:, "BuildingArea"] = df["BuildingArea"].fillna(df["BuildingArea"].mean())
#df.loc[:, "YearBuilt"] = df["YearBuilt"].fillna(df["YearBuilt"].median())
#The reason why fist command didnt work?

**Now , Compare the dataset before and after handling missing values. Explain what are the changes. How do it affects the data quality**

## **Activity 3: Indexing and Slicing Data (30 min)**

Goal: Learn different ways to access and manipulate data using indexing.

In [ ]:
#Access specific columns
print(df["Price"])

In [ ]:
#Use .loc[] for label-based selection
print(df.loc[0, ["Price", "Suburb"]])

In [ ]:
#Use .iloc[] for position-based selection
print(df.iloc[5:10, 1:4])  # Selecting specific rows and columns

**Student challenge**
Now write commands for the following tasks
1. Select and print the first 5 rows and the first 3 columns using .iloc[].
2. Retrieve the value of "Price" for the 10th row (index 9) using .iloc[].
3. Extract all rows but only the "Suburb" and "Rooms" columns using .iloc[].

In [ ]:
#Select and print the first 5 rows and the first 3 columns using .iloc[].

In [ ]:
#2. Retrieve the value of "Price" for the 10th row (index 9) using .iloc[].

In [ ]:
#Extract all rows but only the "Suburb" and "Rooms" columns using .iloc[].

**Filter properties with a price above a given threshold**

In [ ]:
high_price = df[df["Price"] > 1000000]
print(high_price.head())

## **Activity 4: Data Transformation and Aggregation (45 min)**

Goal: Apply transformation and aggregation techniques to analyze data.

In [ ]:
#Convert categorical data into numerical format (if necessary).
df["Type"] = df["Type"].astype("category").cat.codes

In [ ]:
# Create a new column "Price per Square Meter"
df["Price_per_m2"] = df["Price"] / df["BuildingArea"]

****Student challenge**
Now write commands for the following tasks: Creating a New Column "Price per Room"**
1. Create a new column Price_per_Room
2. Display the first 10 rows of the new column to check the results
3. Handle any potential NaN or infinite values by replacing them with 0

In [ ]:
#Create a new column Price_per_Room

In [ ]:
#Display the first 10 rows of the new column to check the results

In [ ]:
#Handle any potential NaN or infinite values by replacing them with 0
df["Price_per_Room"].fillna(0, inplace=True)  # Fill NaNs with 0
df.replace([np.inf, -np.inf], 0, inplace=True)  # Replace infinite values

**Group data by Suburb and find the average price.**

In [ ]:
suburb_avg_price = df.groupby("Suburb")["Price"].mean()
print(suburb_avg_price)

**Sort the dataset based on price in descending order.**

In [ ]:
df_sorted = df.sort_values(by="Price", ascending=False)
print(df_sorted.head())

## **Activity 5: Data Export and Reporting (30 min)**

Goal: Save the cleaned and manipulated dataset for further use.

In [ ]:
#Save the cleaned dataset to a new CSV file.
df.to_csv("cleaned_melb_data.csv", index=False)

In [ ]:
# Generate a basic summary report using Pandas profiling.
from pandas_profiling import ProfileReport

profile = ProfileReport(df)
profile.to_file("report.html")

#Students will learn how to store and share processed datasets for further analysis.