# **Activity 1: Understanding and Exploring the Dataset (30 min)**

✅ **Goal: Load and explore the dataset to understand its structure and contents.**

# Tasks: Load the dataset using Pandas.

In [ ]:
#Importing Pandas and Numpy
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **Assignmen Dataframe to DF**

In [ ]:
df = pd.read_csv("/content/melb_data.csv")

df = pd.read_csv("/content/melb_data.csv")
# Try with wrong syntax that misses a quotation mark , it will give error,
df = pd.read_csv("/content/melb_data.csv")

# **Overview of the data**

In [ ]:
df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
6,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
7,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
9,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0

In [ ]:

print(df.info())  # Overview of dataset
print(df.describe())  # Summary statistics

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB
None
              Rooms         Price      Distance      Postcode      Bedroom2  \
count  13580.000000  1.358000e+04  13580.000000  13580.000000  13580.000000
mean       2.937997  1.075684e+06     10.137776   3105.301915      2.914728
std        0.955748  6.393107e+05      5.868725     90.676964      0.965921
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.500000e+05      6.100000   3044.000000      2.000000
50%        3.000000  9.030000e+05      9.200000   3084.000000      3.000000
75%        3.000000  1.330000e+06     13.000000   3148.000000      3.000000
max       10.000000  9.000000e+06     48.100000   3977.000000     20.000000

           Bathroom           Car       Landsize  BuildingArea    YearBuilt  \
count  13580.000000  13518.000000   13580.000000   7130.000000  8205.000000
mean       1.534242      1.610075     558.416127    151.967650  1964.684217
std        0.691712      0.962634    3990.669241    541.014538    37.273762
min        0.000000      0.000000       0.000000      0.000000  1196.000000
25%        1.000000      1.000000     177.000000     93.000000  1940.000000
50%        1.000000      2.000000     440.000000    126.000000  1970.000000
75%        2.000000      2.000000     651.000000    174.000000  1999.000000
max        8.000000     10.000000  433014.000000  44515.000000  2018.000000

          Lattitude    Longtitude  Propertycount
count  13580.000000  13580.000000   13580.000000
mean     -37.809203    144.995216    7454.417378
std        0.079260      0.103916    4378.581772
min      -38.182550    144.431810     249.000000
25%      -37.856822    144.929600    4380.000000
50%      -37.802355    145.000100    6555.000000
75%      -37.756400    145.058305   10331.000000
max      -37.408530    145.526350   21650.000000

**Student Challenge**
Print the first 5 values of 'Rooms' column

In [ ]:
#Instructor - To be run at the end
# Print the first 5 values of 'Rooms' column ,
df.iloc[0:6,2]
#you can do it in two steps
# Print the First 10 Values of Rooms Column
#Print the first five rows where Type is h

0    2
1    2
2    3
3    3
4    4
5    2
Name: Rooms, dtype: int64

# **Check for missing values in each column.**

In [ ]:
print(df.isna().sum()) # Rember we use .isna command for detecting NaN, Null Values (isna=is not a number)

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

**Identify categorical and numerical columns.**

In [ ]:
print(df.dtypes)

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

# **You have done the first set of activities Welldone**  :**Expected Learning Outcome: By now, the students should understand the structure of the dataset, recognize missing values, and differentiate between categorical and numerical data.**

## **Activity 2: Handling Missing Values (45 min)**

Goal: Learn different techniques to handle missing data in a dataset.

In [ ]:
#	Drop rows with missing values and observe the changes.
df_cleaned = df.dropna()
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6196 entries, 1 to 12212
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         6196 non-null   object
 1   Address        6196 non-null   object
 2   Rooms          6196 non-null   int64
 3   Type           6196 non-null   object
 4   Price          6196 non-null   float64
 5   Method         6196 non-null   object
 6   SellerG        6196 non-null   object
 7   Date           6196 non-null   object
 8   Distance       6196 non-null   float64
 9   Postcode       6196 non-null   float64
 10  Bedroom2       6196 non-null   float64
 11  Bathroom       6196 non-null   float64
 12  Car            6196 non-null   float64
 13  Landsize       6196 non-null   float64
 14  BuildingArea   6196 non-null   float64
 15  YearBuilt      6196 non-null   float64
 16  CouncilArea    6196 non-null   object
 17  Lattitude      6196 non-null   float64
 18  Longtitude     6196 non-null   float64
 19  Regionname     6196 non-null   object
 20  Propertycount  6196 non-null   float64
dtypes: float64(12), int64(1), object(8)
memory usage: 1.0+ MB
None

In [ ]:
# Fill missing numerical values with the column mean/median.
#df["Column_Name"].fillna(df["Column_Name"].mean(), inplace=True)

df.loc[:, "BuildingArea"] = df["BuildingArea"].fillna(df["BuildingArea"].mean())
df.loc[:, "YearBuilt"] = df["YearBuilt"].fillna(df["YearBuilt"].median())
#The reason why fist command didnt work?

In [ ]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1966.788218,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,392.002962,29.088642,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,122.000000,1960.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,151.967650,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,151.967650,1975.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

**Now , Compare the dataset before and after handling missing values. Explain what are the changes. How do it affects the data quality**

## **Activity 3: Indexing and Slicing Data (30 min)**

Goal: Learn different ways to access and manipulate data using indexing.

In [ ]:
#Access specific columns
print(df["Price"])

0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
           ...
13575    1245000.0
13576    1031000.0
13577    1170000.0
13578    2500000.0
13579    1285000.0
Name: Price, Length: 13580, dtype: float64

In [ ]:
#Use .loc[] for label-based selection
print(df.loc[0, ["Price", "Suburb"]])

Price      1480000.0
Suburb    Abbotsford
Name: 0, dtype: object

In [ ]:
df.loc[0:4,["Price","Suburb"]]

       Price      Suburb
0  1480000.0  Abbotsford
1  1035000.0  Abbotsford
2  1465000.0  Abbotsford
3   850000.0  Abbotsford
4  1600000.0  Abbotsford

In [ ]:
#Use .iloc[] for position-based selection
print(df.iloc[5:10, 1:4])  # Selecting specific rows and columns

              Address  Rooms Type
5      129 Charles St      2    h
6        124 Yarra St      3    h
7       98 Charles St      2    h
8  6/241 Nicholson St      1    u
9       10 Valiant St      2    h

**Student challenge**
Now write commands for the following tasks
1. Select and print the first 5 rows and the first 3 columns using .iloc[].
2. Retrieve the value of "Price" for the 10th row (index 9) using .iloc[].
3. Extract all rows but only the "Suburb" and "Rooms" columns using .iloc[].

In [ ]:
#Select and print the first 5 rows and the first 3 columns using .iloc[].

df.iloc[0:5,0:3]

       Suburb           Address  Rooms
0  Abbotsford      85 Turner St      2
1  Abbotsford   25 Bloomburg St      2
2  Abbotsford      5 Charles St      3
3  Abbotsford  40 Federation La      3
4  Abbotsford       55a Park St      4

In [ ]:
#2. Retrieve the value of "Price" for the 10th row (index 9) using .iloc[].
#df.iloc[9,df.columns.get_loc("Price")]
df.iloc[9,4]

1097000.0

In [ ]:
#Extract all rows but only the "Suburb" and "Rooms" columns using .iloc[].

df.iloc[:,[0,2]]

              Suburb  Rooms
0         Abbotsford      2
1         Abbotsford      2
2         Abbotsford      3
3         Abbotsford      3
4         Abbotsford      4
...              ...    ...
13575  Wheelers Hill      4
13576   Williamstown      3
13577   Williamstown      3
13578   Williamstown      4
13579     Yarraville      4

[13580 rows x 2 columns]

**Filter properties with a price above a given threshold**

In [ ]:
high_price = df[df["Price"] > 1000000]
print(high_price.head())

In [ ]:
h_p = df[df["Price"]> 5000000]
h_p.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
251,Armadale,367 Dandenong Rd,6,h,5525000.0,S,Marshall,17/09/2016,6.3,3143.0,...,3.0,4.0,1491.0,516.00000,1935.0,Stonnington,-37.8602,145.0130,Southern Metropolitan,4836.0
3114,Hawthorn,49 Berkeley St,3,h,5100000.0,S,Jellis,3/12/2016,4.6,3122.0,...,2.0,3.0,1038.0,151.96765,1970.0,Boroondara,-37.8332,145.0366,Southern Metropolitan,11308.0
3188,Hawthorn,50 Kinkora Rd,4,h,5050000.0,VB,Kay,19/11/2016,4.6,3122.0,...,4.0,2.0,905.0,373.00000,1913.0,Boroondara,-37.8168,145.0321,Southern Metropolitan,11308.0
3616,Kew,15 Barry St,6,h,6500000.0,S,Jellis,13/08/2016,5.6,3101.0,...,6.0,3.0,1334.0,365.00000,1890.0,Boroondara,-37.8029,145.0267,Southern Metropolitan,10331.0
5631,South Yarra,18 Avoca St,4,h,5700000.0,S,Castran,12/11/2016,3.3,3141.0,...,2.0,0.0,292.0,272.00000,1880.0,Stonnington,-37.8377,144.9894,Southern Metropolitan,14887.0

## **Activity 4: Data Transformation and Aggregation (45 min)**

Goal: Apply transformation and aggregation techniques to analyze data.

In [ ]:
#Convert categorical data into numerical format (if necessary).
df["Type"] = df["Type"].astype("category").cat.codes

In [ ]:
# Create a new column "Price per Square Meter"
df["Price_per_m2"] = df["Price"] / df["BuildingArea"]

****Student challenge**
Now write commands for the following tasks: Creating a New Column "Price per Room"**
1. Create a new column Price_per_Room
2. Display the first 10 rows of the new column to check the results
3. Handle any potential NaN or infinite values by replacing them with 0

In [ ]:
#Create a new column Price_per_Room

df["Price_per_Rooms"] = df["Price"] / df["Rooms"]
df[["Price","Rooms","Price_per_Rooms"]].head(10)

       Price  Rooms  Price_per_Rooms
0  1480000.0      2    740000.000000
1  1035000.0      2    517500.000000
2  1465000.0      3    488333.333333
3   850000.0      3    283333.333333
4  1600000.0      4    400000.000000
5   941000.0      2    470500.000000
6  1876000.0      3    625333.333333
7  1636000.0      2    818000.000000
8   300000.0      1    300000.000000
9  1097000.0      2    548500.000000

In [ ]:
#Display the first 10 rows of the new column to check the results

In [ ]:
#Handle any potential NaN or infinite values by replacing them with 0
df["Price_per_Room"].fillna(0, inplace=True)  # Fill NaNs with 0
df.replace([np.inf, -np.inf], 0, inplace=True)  # Replace infinite values

KeyError: 'Price_per_Room'

**Group data by Suburb and find the average price.**

In [ ]:
suburb_avg_price = df.groupby("Suburb")["Price"].mean()
print(suburb_avg_price)

Suburb
Abbotsford      1.060366e+06
Aberfeldie      1.277455e+06
Airport West    7.566567e+05
Albanvale       5.370833e+05
Albert Park     1.941355e+06
                    ...
Wonga Park      9.000000e+05
Wyndham Vale    4.832500e+05
Yallambie       8.396875e+05
Yarra Glen      6.200000e+05
Yarraville      9.886155e+05
Name: Price, Length: 314, dtype: float64

**Sort the dataset based on price in descending order.**

In [ ]:
df_sorted = df.sort_values(by="Price", ascending=False)
print(df_sorted.head())

            Suburb         Address  Rooms  Type      Price Method  \
12094     Mulgrave     35 Bevis St      3     0  9000000.0     PI
7692    Canterbury  49 Mangarra Rd      5     0  8000000.0     VB
9575      Hawthorn    49 Lisson Gr      4     0  7650000.0      S
3616           Kew     15 Barry St      6     0  6500000.0      S
12557  Middle Park     136 Page St      5     0  6400000.0      S

            SellerG        Date  Distance  Postcode  ...  BuildingArea  \
12094          Hall  29/07/2017      18.8    3170.0  ...         117.0
7692      Sotheby's  13/05/2017       9.0    3126.0  ...         464.3
9575   Abercromby's  17/06/2017       5.3    3122.0  ...         284.0
3616         Jellis  13/08/2016       5.6    3101.0  ...         365.0
12557      Marshall   9/09/2017       3.0    3206.0  ...         308.0

       YearBuilt  CouncilArea  Lattitude  Longtitude  \
12094     1960.0       Monash  -37.93168   145.16126
7692      1880.0   Boroondara  -37.81790   145.06940
9575      1863.0   Boroondara  -37.82652   145.03052
3616      1890.0   Boroondara  -37.80290   145.02670
12557     1920.0          NaN  -37.84908   144.95753

                       Regionname Propertycount  Price_per_m2  \
12094  South-Eastern Metropolitan        7113.0  76923.076923
7692        Southern Metropolitan        3265.0  17230.239070
9575        Southern Metropolitan       11308.0  26936.619718
3616        Southern Metropolitan       10331.0  17808.219178
12557       Southern Metropolitan        2019.0  20779.220779

       Price_per_rooms Price_per_Rooms
12094     3.000000e+06    3.000000e+06
7692      1.600000e+06    1.600000e+06
9575      1.912500e+06    1.912500e+06
3616      1.083333e+06    1.083333e+06
12557     1.280000e+06    1.280000e+06

[5 rows x 24 columns]

## **Activity 5: Data Export and Reporting (30 min)**

Goal: Save the cleaned and manipulated dataset for further use.

In [ ]:
#Save the cleaned dataset to a new CSV file.
df.to_csv("cleaned_melb_data.csv", index=False)

In [ ]:
!pip install pandas_profiling

Collecting pandas_profiling
  Downloading pandas_profiling-3.2.0-py2.py3-none-any.whl.metadata (21 kB)
Collecting joblib~=1.1.0 (from pandas_profiling)
  Downloading joblib-1.1.1-py2.py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (1.13.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (2.2.2)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (3.10.0)
Requirement already satisfied: pydantic>=1.8.1 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (2.10.6)
Requirement already satisfied: PyYAML>=5.0.0 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (6.0.2)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (3.1.5)
Collecting markupsafe~=2.1.1 (from pandas_profiling)
  Downloading MarkupSafe-2.1.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.0 kB)
Collecting visions==0.7.4 (from visions[type_image_path]==0.7.4->pandas_profiling)
  Downloading visions-0.7.4-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (1.26.4)
Collecting htmlmin>=0.1.12 (from pandas_profiling)
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (0.5.2)
Collecting phik>=0.11.1 (from pandas_profiling)
  Downloading phik-0.12.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.6 kB)
Collecting tangled-up-in-unicode==0.2.0 (from pandas_profiling)
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (2.32.3)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (4.67.1)
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from pandas_profiling) (0.13.2)
Collecting multimethod>=1.4 (from pandas_profiling)
  Downloading multimethod-2.0-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.11/dist-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas_profiling) (25.1.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.11/dist-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas_profiling) (3.4.2)
Collecting imagehash (from visions[type_image_path]==0.7.4->pandas_profiling)
  Downloading ImageHash-4.3.2-py2.py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: Pillow in /usr/local/lib/python3.11/dist-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (11.1.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2025.1)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic>=1.8.1->pandas_profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in /usr/local/lib/python3.11/dist-packages (from pydantic>=1.8.1->pandas_profiling) (2.27.2)
Requirement already satisfied: typing-extensions>=4.12.2 in /usr/local/lib/python3.11/dist-packages (from pydantic>=1.8.1->pandas_profiling) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.24.0->pandas_profiling) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.24.0->pandas_profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.24.0->pandas_profiling) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.24.0->pandas_profiling) (2025.1.31)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas_profiling) (1.17.0)
Collecting PyWavelets (from imagehash->visions[type_image_path]==0.7.4->pandas_profiling)
  Downloading pywavelets-1.8.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.0 kB)
Downloading pandas_profiling-3.2.0-py2.py3-none-any.whl (262 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 262.6/262.6 kB 6.4 MB/s eta 0:00:00
Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 58.6 MB/s eta 0:00:00
Downloading visions-0.7.4-py3-none-any.whl (102 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.4/102.4 kB 5.0 MB/s eta 0:00:00
Downloading joblib-1.1.1-py2.py3-none-any.whl (309 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 309.8/309.8 kB 18.5 MB/s eta 0:00:00
Downloading MarkupSafe-2.1.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (28 kB)
Downloading multimethod-2.0-py3-none-any.whl (9.8 kB)
Downloading phik-0.12.4-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (687 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 687.8/687.8 kB 30.5 MB/s eta 0:00:00
Downloading ImageHash-4.3.2-py2.py3-none-any.whl (296 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.7/296.7 kB 16.7 MB/s eta 0:00:00
Downloading pywavelets-1.8.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 52.6 MB/s eta 0:00:00
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27081 sha256=11367d4791a3d8b3acae21995920d0621ecaef1ddddc979ab6f26e2a0cc9dbfa
  Stored in directory: /root/.cache/pip/wheels/8d/55/1a/19cd535375ed1ede0c996405ebffe34b196d78e2d9545723a2
Successfully built htmlmin
Installing collected packages: htmlmin, tangled-up-in-unicode, PyWavelets, multimethod, markupsafe, joblib, imagehash, visions, phik, pandas_profiling
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 3.0.2
    Uninstalling MarkupSafe-3.0.2:
      Successfully uninstalled MarkupSafe-3.0.2
  Attempting uninstall: joblib
    Found existing installation: joblib 1.4.2
    Uninstalling joblib-1.4.2:
      Successfully uninstalled joblib-1.4.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
scikit-learn 1.6.1 requires joblib>=1.2.0, but you have joblib 1.1.1 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cublas-cu12==12.4.5.8; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cublas-cu12 12.5.3.2 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cuda-cupti-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-cupti-cu12 12.5.82 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cuda-nvrtc-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-nvrtc-cu12 12.5.82 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cuda-runtime-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-runtime-cu12 12.5.82 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cudnn-cu12==9.1.0.70; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cudnn-cu12 9.3.0.75 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cufft-cu12==11.2.1.3; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cufft-cu12 11.2.3.61 which is incompatible.
torch 2.5.1+cu124 requires nvidia-curand-cu12==10.3.5.147; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-curand-cu12 10.3.6.82 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cusolver-cu12==11.6.1.9; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cusolver-cu12 11.6.3.83 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cusparse-cu12==12.3.1.170; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cusparse-cu12 12.5.1.3 which is incompatible.
torch 2.5.1+cu124 requires nvidia-nvjitlink-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-nvjitlink-cu12 12.5.82 which is incompatible.
Successfully installed PyWavelets-1.8.0 htmlmin-0.1.12 imagehash-4.3.2 joblib-1.1.1 markupsafe-2.1.5 multimethod-2.0 pandas_profiling-3.2.0 phik-0.12.4 tangled-up-in-unicode-0.2.0 visions-0.7.4

In [ ]:
# Generate a basic summary report using Pandas profiling.
from pandas_profiling import ProfileReport

profile = ProfileReport(df)
profile.to_file("report.html")

#Students will learn how to store and share processed datasets for further analysis.

AttributeError: module 'numba' has no attribute 'generated_jit'

In [ ]:
!pip install --upgrade numba
# Restart kernel after installing
get_ipython().kernel.do_shutdown(True) # Automatically restarts kernel

Requirement already satisfied: numba in /usr/local/lib/python3.11/dist-packages (0.61.0)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in /usr/local/lib/python3.11/dist-packages (from numba) (0.44.0)
Requirement already satisfied: numpy<2.2,>=1.24 in /usr/local/lib/python3.11/dist-packages (from numba) (1.26.4)

{'status': 'ok', 'restart': True}

In [ ]:
# Generate a basic summary report using Pandas profiling.
from pandas_profiling import ProfileReport

profile = ProfileReport(df)
profile.to_file("report.html")

#Students will learn how to store and share processed datasets for further analysis.

AttributeError: module 'numba' has no attribute 'generated_jit'